/* ASIKART EasySet Custom CSS */
@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500);

/* GLOBAL */
*[data-toggle=tooltip] {
	/* Fix tooltips bug */
	display : inline !important;
}

/* BODY */
html,
body {
	font-family: 'Roboto', /*'Xin4',*/ 'Heiti TC', '微軟正黑體', sans-serif;
	font-size: 17px;
	line-height: 175%;
}

/* TYPO */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Oswald', 'Adobe 繁黑體 Std', 'AdobeFanHeitiStd-Bold', 'LiHei Pro', "Xin6", '微軟正黑體', sans-serif;
	margin-bottom: 1em;
	line-height: 120%;
}

/* LAYOUT */


/* HEADER */


/* BANNER */
#mod_btslideshow_pro_146 .label_skitter div,
#mod_btslideshow_pro_146 .label_skitter div a {
	font-family: 'Oswald', 'Adobe 繁黑體 Std', 'AdobeFanHeitiStd-Bold', 'LiHei Pro', "Xin6", '微軟正黑體', sans-serif;
}

/* MENU */


/* MAIN CONTENT */


/* LEFT COLUMN */


/* RIGHT COLUMN */
.photonews-module-list a {
	position: relative;
	display: block;
}

.photonews-module-list > li > a:before {
	display: none;
}

ul.photonews-module-list > li {
	margin: 10px 0;
	border-bottom: none;
}

.photonews-module-list h4 {
	line-height: 135%;
	word-wrap: normal;
	overflow: hidden;
	height: 2em;
	font-size: 14px;
	background: rgba(0,0,0,0.6);
	color: #fff;
	margin: 0;
	padding: 5px;
	position: absolute;
	width: 260px;
	z-index: 100;
	bottom: 2px;
	font-family: 'Roboto', /*'Xin4',*/ 'Heiti TC', '微軟正黑體', sans-serif;
}

/* ARTICLE */
.asikart-fb-like {
	padding-top: 0;
}

.ak_blog_intro {
	word-break: break-all;
	text-align: justify;
}

.ak_blog_intro::after {
	content: "...";
}

article.item img {
	margin-left: auto;
	margin-right: auto;
	display: block;

	border: 1px solid #eee;
	padding: 3px;
}

article.item p {
	margin: 2em 0;
}

/* Responsive Youtube */
.video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}

.video iframe,
.video object,
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.ux-user-info-warp {
	margin: 50px 0;
}

/* TABLE */


/* FOOTER */
.footer-logo img {
	display: inline-block;
	margin: 20px;
}

/* Module */


/* Color override for Asukademy */
